// Quasar SCSS (& Sass) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$app-background: #f9f4ff;
$white: #ffffff;
$black: #1d1d2a;

$primary: #5100cd;
$secondary: #d4ff00;

$font: #141421;

$positive: #47ff59;
$negative: #d9245a;
$info: #5100cd;
$warning: #fecd17;

$navbar-bg: #1f1f31;
$navigator-bg: #000000;
$sidebar-bg: #1f1f31;
$sidebar-link-hover: #d4ff00;
$sidebar-button-bg: #000000;
$sidebar-menu-header: #f9f4ff80;

$typography-font-family: "Open Sans", "-apple-system", "Helvetica Neue",
  Helvetica, Arial, sans-serif !default;
